.container {
  margin:auto;
  border: 2px solid black;
  width: 60%;
}
nav {

  background-color: bisque;  
}
nav ul { 
  display: flex;
  justify-content: start;
}

nav ul li {
  list-style: none;
  color: black;
  margin-right: 20px;
text-align: center;
padding: 20px;
}

h1 {
  text-align: center;
  text-decoration: underline;
}